* {
  box-sizing: border-box;
  margin: 0;
}

p{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

a{
	position: relative;
	text-decoration: none;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a:hover{
	text-decoration: none;
}

.hide{
	display: none;
}

.width-100{
	width: 100%;
	position: relative;
}

.overline{
	border-top: 1px solid #000000;
}

.row-top{
	margin-top: 30px;
}

.row-top-15{
	margin-top: 15px;
}

.row-top-10{
	margin-top: 10px;
}

.no-top-margin{
	margin-top: 0px;
}

.no-bottom-margin{
	margin-bottom: 0px;
}

.margin-top-eight{
	margin-top: 12px;
}

.margin-bottom{
	margin-bottom: 10px;
}

.squares-top{
	position: absolute;
	background-image: url("../images/squares2.png");
	width: 143px;
	height: 53px;
}

.squares-bottom{
	position: absolute;
	top: 1px;
	left: 0;
	background-image: url("../images/squares2.png");
	width: 143px;
	height: 53px;
	z-index: 99;
}

.squares-bottom-animated{
	position: absolute;
	top: 1px;
	right: 0;
	background-image: url("../images/squares2.png");
	width: 143px;
	height: 53px;
	z-index: 99;
}

.adam-brand-sm{
	margin-top: 4px;
}

.bio-pic1{
	position: absolute;
	width: 258px;
	-webkit-transform: perspective( 600px ) rotateY( 0deg );
  transform: perspective( 600px ) rotateY( 0deg );
}

.bio-pic2{
	position: absolute;
	width: 258px;
	-webkit-transform: perspective( 600px ) rotateY( 180deg );
  transform: perspective( 600px ) rotateY( 180deg );
}

.flip3D{ width:260px; height:284px; margin: 1px 15px 0px 0px; border: 1px solid #000000; float:left; }
.flip3D > .bio-pic-front{
  position:absolute;
  -webkit-transform: perspective( 600px ) rotateY( -180deg );
  transform: perspective( 600px ) rotateY( -180deg );
  width:258px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
}
.flip3D > .bio-pic-back{
  position:absolute;
  -webkit-transform: perspective( 600px ) rotateY( 0deg );
  transform: perspective( 600px ) rotateY( 0deg );
  width:258px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
}

.p-link{
	color: #003265;
}

.p-link:hover{
	text-decoration: underline;
	font-style: italic;
	color: #003265;
}

.icon-social{
	width: 66px;
	height: 66px;
	border: 1px solid #000000;
	margin-top: 15px;
	margin-bottom: 10px;
}

.float-left{
	float: left;
}

.margin-right-social{
	margin-right: 15px;
}

.container-cover{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #055c98;
}

.panel-primary{
	position: relative;
	border-color: #042240;
}

.panel-primary > .panel-heading{
	background-color: #055c98;
	border-color: #042240;
}

.btn-primary{
	background-color: #055c98;
	border-color: #042240;
}

.full-page-wrap{
	overflow: hidden;
}

.image-wrapper{
	position: relative;
	margin-bottom: 30px;
	line-height: 0;
}

.image-cover{
	position: absolute;
	height: 244px;
	width: 392px;
	border: 1px solid #000000;
	vertical-align: baseline;
	z-index: 102;
}

.image-portfolio{
	height: 198px;
	width: 392px;
	border: 1px solid #000000;
	vertical-align: baseline;
}

.rutgers{
	position: absolute;
	background-image: url("../images/rutgers_logo_small.png");
	width: 35px;
	height: 41px;
	bottom: 10px;
	left: 10px;
	opacity: 0;
	z-index: 101;
}

.adam-icon{
	position: absolute;
	background-image: url("../images/adam-icon.png");
	width: 57px;
	height: 41px;
	bottom: 10px;
	left: 10px;
	opacity: 0;
	z-index: 101;
}

.category-icon{
	float: left;
	margin-right: 10px;
	width: 34px;
}

.category-icon-adam{
	float: left;
	margin-right: 10px;
	width: 39px;
}

.port-detail-bold{
	padding-top: 11px;
	font-weight: bold;
}

.port-detail-bold2{
	padding-top: 10px;
	font-weight: bold;
}

.clear-both{
	clear: both;
}

.side-image{
	width: 230px;
	height: 116px;
	margin-top: 5px;
	border: 1px solid #000000;
}

.side-button{
	width: 230px;	
	border: 1px solid #000000;
	border-radius: 5px;
}

.label{
	width: 392px;
	font-size: 100%;
	border: 1px solid #000000;
	padding: 15px;
	border-top: none;
	display: block;
	position: relative;
	z-index: 100;
}

.label-top{
	width: auto;
	position: absolute;
	top: -184px;
	right: 0;
	display: inline;
	background-color: #ffffff;
	color: #000000;
	border-top: none;
	border-right: none;
	display: none;
}

.navbar-default{
	height: 62px;
	border-bottom: 8px solid #055c98;
}

.spotify-lrg{
	position: absolute;
	right: 0;
	top: 25%;
	background-image: url("../images/spotify_lrg.png");
	width: 143px;
	height: 474px;
	opacity: 0;
}

.spotify-lrg-in{
	position: absolute;
	right: 0;
	top: 25%;
	background-image: url("../images/spotify_lrg.png");
	width: 143px;
	height: 474px;
	-webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
   opacity: 1;
}

.spotify-lrg-out{
	position: absolute;
	right: 0;
	top: 25%;
	background-image: url("../images/spotify_lrg.png");
	width: 143px;
	height: 474px;
	-webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
   opacity: 0;
}

.nytimes-lrg{
	position: absolute;
	right: 0;
	top: 25%;
	background-image: url("../images/nytimes_lrg.png");
	width: 143px;
	height: 467px;
	opacity: 0;
}

.nytimes-lrg-in{
	position: absolute;
	right: 0;
	top: 25%;
	background-image: url("../images/nytimes_lrg.png");
	width: 143px;
	height: 467px;
	-webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
   opacity: 1;
}

.nytimes-lrg-out{
	position: absolute;
	right: 0;
	top: 25%;
	background-image: url("../images/nytimes_lrg.png");
	width: 143px;
	height: 467px;
	-webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
   opacity: 0;
}

.omdb-lrg{
	position: absolute;
	right: 0;
	top: 19%;
	background-image: url("../images/omdb_lrg.png");
	width: 143px;
	height: 601px;
	opacity: 0;
}

.omdb-lrg-in{
	position: absolute;
	right: 0;
	top: 19%;
	background-image: url("../images/omdb_lrg.png");
	width: 143px;
	height: 601px;
	-webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
   opacity: 1;
}

.omdb-lrg-out{
	position: absolute;
	right: 0;
	top: 19%;
	background-image: url("../images/omdb_lrg.png");
	width: 143px;
	height: 601px;
	-webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
   opacity: 0;
}

.omdb-img{ 
	width: auto; 
	height: 508px; 
	margin: 1px 15px 0px 0px; 
	border: 1px solid #000000; 
	float: left; 
}

.omdb-title{
	font-weight: bold;
	margin-top: 13px;
	color: #000000;
}

.api-title{
	font-weight: bold;
	margin-bottom: 10px;
}

.api-button{
	width: 230px;
	height: 79px;
	margin-top: 15px;
	border: 1px solid #000000;
}

.api-input{
	margin-top: 15px;
	border: 1px solid #000000;
}

.api-search-button{
	margin-top: 15px;
	width: 230px;
	background-color: #222222;
	border: 1px solid #000000;
	border-radius: 5px;
}

.api-search-button:hover{
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #000000;
	border-radius: 5px;
}

.api-restore{
	margin-top: 15px;
	width: 230px;
	border: 1px solid #000000;
	border-radius: 5px;
}

.api-restore:hover{
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #000000;
	border-radius: 5px;
}

.spot-player{
	margin-top: 15px;
	margin-bottom: 0px;
	width: 100%;
	max-height: 95px;
}

.track-container{
	margin-top: 15px;
	min-height: 325px;
}

.track-img{
	width: 100%;
	border: 1px solid #000000;
	cursor: pointer;
}

/*begin new york times api*/

.article-wrap{
	position: relative;
}

.article-well{
	position: relative;
	width: 100%;
	min-height: 157px;
	border: 1px solid #222222;
	border-left: 45px solid #222222;
	padding: 15px;
	margin-top: 15px;
	overflow: hidden;
	z-index: 99;
}

.article-img{
	width: 100%;
	position: absolute;
	top: -75px;
	left: 0;
	opacity: 0.5;
	z-index: 99;
}

.relative-title{
	position: relative;
	margin-top: 7px;
	color: #000000;
	font-weight: bold;
	text-shadow: 0.5px 0.5px  #ffffff;
	z-index: 100;
}

.relative{
	position: relative;
	color: #000000;
	font-weight: bold;
	/*text-shadow: 0.5px 0.5px  #ffffff;*/
	z-index: 100;
}

.above{
	position: absolute;
	left: -6px;
	/*top: 66px;*/
	top: 42.5%;
	color: #ffffff;
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 20px;
	z-index: 100;
	-webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.above:hover{
	text-decoration: none;
	color: #055c98;
}

.above:focus{
	text-decoration: none;
	color: #055c98;	
}

.above:active{
	text-decoration: none;
	color: #055c98;	
}

/*end new york times api*/

footer{
	margin: 0px;
}

.footer{
	position: relative;
	height: 62px;
	text-align: center;
	color: #ffffff;
	padding-top: 14.5px;
	margin-top: 8px;
	background-color: #222222;
	border-top: 8px solid #055c98;
}

.footer-bottom{
	position: absolute;
	bottom: 0;
	height: 62px;
	width: 100%;
	text-align: center;
	color: #ffffff;
	padding-top: 14.5px;
	margin-top: 8px;
	background-color: #222222;
	border-top: 8px solid #055c98;
}

.foot-text{
	position: relative;
	z-index: 100;
}